Button {
    -fx-font-family: "Agency FB";
}

.table-view {
    -fx-font-family: "Agency FB";
    -fx-background-color: rgb(225, 156, 156);
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(#bdadad 0%, #b47e7e 100%);
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-font-size: 16px;
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-font-size: 16px;
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, #f5d0d0;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, #f3e5e5;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:selected {
    -fx-background-color: #a43361;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}